DISCORD_TOKEN=TU_TOKEN_DE_BOT_AQUI
OPENCODE_API_KEY=TU_API_KEY_DE_OPENCODE_ZEN
ALLOWED_GUILD_ID=TU_GUILD_ID_AQUI
ALLOWED_CHANNEL_ID=TU_CHANNEL_ID_AQUI
PI_USER=TU_USUARIO_SSH_PI
PI_HOST=TU_IP_O_HOST_PI
